body{
    background-image: url(../imagenes/el-trabajo-de-soldador-2-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh;
    
}

form{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161111a9;
    border-radius: 5px;
    height: 600px;
}

.formulario h1{
    text-align: center;
    color: #ffff;
    margin-top: 10px;
    transition: .5s;
}

.formulario h1:hover{
    transition: .5s;
    font-size: 30px;
}

h1{
    font-size: 25px;
}

.formulario, form{
    width: auto;
    padding: 0 40px;
    box-sizing: border-box;
}

form .rellenar{
    position: relative;
    width: 70%;
    border-bottom: 2px solid #ffff;
    margin: 20px 0;
}

.rellenar input{
    margin-top: 4px;
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}


.rellenar label{
    position: absolute;
    left: 5px;
    /*top:50%;
    color: #ffffff;*/
    transform: translateY(-50%);
    font-size: 17px;
    pointer-events: none;
    transition: all 0.5s ease;
    top:-5px;
    color: #ffffffd0;

}


.rellenar input:focus ~ label,
.rellenar input:focus ~ label{
    top:-5px;
    color: #ffffff;
    transition: 1s;
    transition: all 0.5s ease;

    
}

.rellenar input:focus ~ span::before,
.rellenar input:focus ~ span::before{
    width: 100%;
}

input[type=submit]{
    width: 120px;
    height: 50px;
    border: 1px solid;
    background: #090341;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    transition: .5s; 
  

}

input[type=submit]:hover{
    border-color: black;
    transition: 1s; 
    background: #535252;
    color: #ffffff;   
}


input:active input:focus{
    color: #ffffff;
}


#editar, #cancelar{
    bottom: 0;
    width: 200px;
}

#editar{
    margin-left: 280px;
 
}

#cancelar{
    margin-left: 200px;
}

.imgcliente{
    font-size: 90px;
    text-align: center;
    color: yellow;
    transition: .5s;
}

.imgcliente:hover{
    color: #150981;
    transition: .5s;
}


input:active, input:focus, input:valid{
    color: #ffff;
}

#ingreso{
    background-color: #dddddd60;
    height: 50px;
    border-radius: 10px;
    width: 300px;
    margin-top: 5px;
    padding-left: 10px;
    resize: none;
    outline: none;
}

.descripcion_ingreso{
    color: white;
}

#formulario2{
    margin-left: 100px;
}


.logo{
    color: yellow;
    display: inline-block;
}

@media screen and (max-width: 400px) {
    
    .formulario{
        transform: translate(-50%, -50%);
        padding-bottom: 400px;
  }
}

@media screen and (max-width: 900px) {
    body{
        height: 150vh;
    }
    #form{
        grid-template-columns: 1fr;
    }
    .formulario{
        transform: translate(-50%, -35%);
        width: 520px;
        height: auto;
    }
    img{
        margin-left: 30px;
        margin-top: 20px;
    }
    #ingreso{
        background-color: #dddddd60;
        height: 58px;
        border-radius: 10px;
        width: 300px;
        margin-top: 5px;
        padding-left: 10px;
        resize: none;
        margin-bottom: 30px;
        outline: none;
    }

    #editar{
        width: 150px;
        margin: 0;
    }

    
    #cancelar{
        width: 150px;
        margin: 0;
    }
    #formulario2{
        margin-left: 0;
    }
}