.nombre{
    color: yellow;
}

:root{
    --facebook: #3b5998; 
    --youtube:  #c4302b; 
    --whatsapp: #25d366;
    --gmail: #EA4335;
}

.redes ul{
    display: flex;
    justify-content: end;
    align-items: end;
}

span{
    margin: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.redes span{
    padding: 0 5px;
    background: #333;
    border-radius: 3em;
}

.redes span a{
    display: block;
    color: white;
    font-size: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.082);
    transform: .2s;
}

.redes ul  :hover{
    transform: translateY(-0.5px) scale(1);
    filter: none;
}

.redes  .facebook:hover{
    background: var(--facebook);
}

.redes  .whatsapp:hover{
    background: var(--whatsapp);
}

.redes  .gmail:hover{
    background: var(--gmail);
}

.mt-5{
    color: black;
    border: solid 2px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
}



.repuesto1{
    background-color:rgba(207, 207, 9, 0);
    height: 330px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.ver{
    display: flex;
    align-items: end;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transform: 0.5s;
}

.ver:hover{
    transform: 0.5s;
    color:#3b5998;
}

#info{
    color: rgb(255, 166, 0);
}

#info:hover{
    color:white;
    font-size: 17px;
}

#repuestos{
    color: rgb(255, 166, 0);
}

#repuestos:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
    font-size: 18px;
}

#contacto{
    color: rgb(255, 166, 0);
    font-size: 18px;
}
#contacto:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
}

#contenido{
    color: rgb(255, 166, 0);
}

#contenido:hover{
    color:white;
    font-size: 17px;
}
.redes ul{
    background-color: rgb(44, 44, 105);
    border-top: solid rgba(0, 0, 0, 0.644) 5px;
}


#titulo-orden{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    border-bottom: solid 4px yellow;
    padding-bottom: 5px;
}

.ordenes{
    background-color: yellow;
    width: auto;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

#incrementar{
    border-right: solid 2px white;
    padding-left: 5px;
}




.container{
    background-color: #00000075;
    max-height: auto;
    width: auto;
    border: solid 1px rgb(13, 26, 197);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}


table{
    font-size: 20px;
    /*table-layout: fixed;
    border-collapse: collapse;*/
    margin-top: 20px;
    border: solid 3px  rgb(255, 166, 0);
    margin-bottom: 15px;
    width: 100%;
}

thead{
    background-color: rgb(44, 44, 105);
    color: rgb(255, 166, 0);
    border-radius: 20px;
    border: solid 3px  rgb(255, 166, 0);

}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 3px  rgb(255, 166, 0);

}

td{
    padding: 20px;
    border-bottom:  solid 3px  rgb(255, 166, 0);
    border: solid 3px  rgb(255, 166, 0);
    cursor: pointer;
    transition: .5s;
}


th, td {
    padding: 10px;
    text-align: center;
  }

  tbody tr:hover{
    background-color: rgba(255, 166, 0, 0.479);
}

#icon_eliminar, #icon_editar{
    font-size: 30px;
    transition: .5s;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

#icon_eliminar:hover{
    background-color: red;
    transition: .5s;
}

#icon_editar:hover{
    background-color: #3b5998;
    transition: .5s;
}

#icon_user{
    font-size: 40px;
}
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    th, td {
      width:auto;
    }
    
   
  }