.nombre{
    color: yellow;
}


#info{
    color: rgb(255, 166, 0);
}

#info:hover{
    color:white;
    font-size: 17px;
}

#repuestos{
    color: rgb(255, 166, 0);
}

#repuestos:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
    font-size: 18px;
}

#contacto{
    color: rgb(255, 166, 0);
    font-size: 18px;
}
#contacto:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
}

#contenido{
    color: rgb(255, 166, 0);
}

#contenido:hover{
    color:white;
    font-size: 17px;
}

.container{
    background-color: #00000075;
    max-height: auto;
    width: auto;
    border: solid 1px rgb(13, 26, 197);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}


table{
    font-size: 20px;
    /*table-layout: fixed;
    border-collapse: collapse;*/
    margin-top: 20px;
    border: solid 3px  rgb(255, 166, 0);
    margin-bottom: 15px;
    width: 100%;
}

thead{
    background-color: rgb(44, 44, 105);
    color: rgb(255, 166, 0);
    border-radius: 20px;
    border: solid 3px  rgb(255, 166, 0);

}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 3px  rgb(255, 166, 0);

}

td{
    padding: 20px;
    border-bottom:  solid 3px  rgb(255, 166, 0);
    border: solid 3px  rgb(255, 166, 0);
    cursor: pointer;
    transition: .5s;
}


th, td {
    padding: 10px;
    text-align: center;
  }

  tbody tr:hover{
    background-color: rgba(255, 166, 0, 0.479);
}

#imprimir, #icon_editar{
    font-size: 30px;
    transition: .5s;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

#imprimir:hover{
    background-color: rgba(255, 255, 0, 0.685);
    transition: .5s;
}

#icon_editar:hover{
    background-color: #3b5998;
    transition: .5s;
}

#icon_user{
    font-size: 40px;
}
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    th, td {
      width:auto;
    }
    
   
  }