.nombre{
    color: yellow;
}



.ver{
    display: flex;
    align-items: end;
    font-size: 18px;
    text-decoration: none;
    color: black;
    transform: 0.5s;
}

.ver:hover{
    transform: 0.5s;
    color:#3b5998;
}

#info{
    color: rgb(255, 166, 0);
}

#info:hover{
    color:white;
    font-size: 17px;
}

#repuestos{
    color: rgb(255, 166, 0);
}

#repuestos:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
    font-size: 18px;
}

#contacto{
    color: rgb(255, 166, 0);
    font-size: 18px;
}
#contacto:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: rgb(44, 44, 105);
}

#contenido{
    color: rgb(255, 166, 0);
}

#contenido:hover{
    color:white;
    font-size: 17px;
}
.redes ul{
    background-color: rgb(44, 44, 105);
    border-top: solid rgba(0, 0, 0, 0.644) 5px;
}


/* Control de imagen */
.drop-area{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drop-area img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}


#icon{
    font-size: 35px;
}

#whatsapp{
    right: 0;
}

#descripcion{
    margin-top: 10px;
    width: 100%;
    display: block;
    font-size: 20px;
}



#clave{
    font-size: 30px;
    width:100%;
    border: none;
    font-weight:bold;
}



