body{
    background-image: url(../imagenes/el-trabajo-de-soldador-2-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    height: 100vh;
}

.informacion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161111a9;
    border-radius: 5px;
}
