body{
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url(../imagenes/el-trabajo-de-soldador-2-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}    

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


p{
    color: yellow;
}

h2{
    color: yellow;
    transition: .5s;

}

h2:hover{
    color: rgb(11, 11, 255);
    font-size: 36px;
    transition: .5s;

}

a{
    color: yellow;
    text-decoration: none;
    transition: .5s;
}
#conectado{
    color: yellow;
    transition: .5s;

}

#conectado:hover{
    color: rgb(11, 11, 255);;
    font-size: 18px;
    transition: .5s;

}

button{
    background-color: rgb(44, 44, 105);
    color: aliceblue;
    border: none;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    transition-duration: 1s;
}
button:hover{
    background-color: rgba(255, 255, 0, 0.445);
    color: black;
    width: 240px;
    transition: 1s;

}

#identificacion:active, #identificacion:focus{
    background-color:#53697641;
    color: #ffffff;
    box-shadow: 0 0 5px 5px yellow;

}

#contraseña:active, #contraseña:focus{
    background-color:#53697641;
    color: #ffffff;
    box-shadow: 0 0 5px 5px yellow;
}






.fondo{
    background-color: rgba(116, 111, 111, 0.486);
    border-radius: 50px;
    width: 400px;
    border: solid 1px;
    box-shadow: 14px 13px 10px 3px;
    -webkit-box-shadow: 14px 13px 10px 3px;
    -moz-box-shadow: 14px 13px 10px 3px;
}

.sesion{
    display: flex;
    align-items: center;
    justify-content: center;
}


a:hover{
    color: rgb(11, 11, 255);;
    font-size: 18px;
}


.usuario i{
  font-size: 100px;
  color:rgba(0, 0, 0, 0.479);
  transition: .5s;
  border-radius: 100px;

}


.usuario i:hover{
    font-size: 105px;
    color:#BBD2C5;
    transition: .5s;
    box-shadow: 0 0 10px 5px white;
    border-radius: 100px;

}
.logo{
    margin-right: 40px;
}